body { 
	height: 100%;
	background-color: rgba(51, 105, 255, 0.4);
	
}
	
.background-wrap { 
		position: relative;
		overflow: hidden;
}
	
.background-img {
	opacity: 0.3;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.content {
	position: relative;
}

section {
	height: 650px;
}
